{% extends 'base.html.twig' %}

{% block title %}ACCEUIL{% endblock %}

{% block body %}


<main>
  <h1> bienvenu sur mon blog</h1>
{% for article in articles %}
    <div class="article">
         <h2> {{article.title}}</h2>
         <p> {{article.content}}</p>
         <h3> publie par {{article.users.lastname}} {{article.users.lastname}} le  {{article.createdAt|date("m/d/Y")}}</h3>
           

    </div>
{% endfor %}
</main>
{% endblock %}
